*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


/.idea/
/aimei-api/target/
/aimei-common/target/
/aimei-dao/target/
/aimei-domain/target/
/aimei-service/target/
*.iml
